$xl: 1200px;
$lg: 1000px;
$md: 800px;
$sm: 600px;
$xs: 400px;

#_addHackersView {
    .dropdown {
        .dropdown-toggle {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 20px;
            text-align: left;

            &::after {
                margin-top: 8px;
            }
        }

        .dropdown-menu {
            width: 100%;
        }

        .dropdown-item {
            margin: 0px;
            cursor: pointer;
        }
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media only screen and (max-width: $lg) {
            flex-direction: column;
        }
    }

    .card {
        height: 100%;
        width: 100%;

        @media only screen and (max-width: $lg) {
            margin-bottom: 20px;
        }
    }

    .card-header {
        h5 {
            margin: 0px;
        }

        .btn-blank {
            cursor: pointer;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin-bottom: 1rem;
        }

        textarea {
            min-height: 200px;
            width: 100%;
            margin-bottom: 1rem;
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, 0.2);

            &:focus {
                outline: none;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            cursor: pointer;

            button {
                width: 100%;
            }
        }

        #hackers-buttons {
            button:first-child {
                margin-right: 10px;
            }

            button:last-child {
                margin-left: 10px;
            }
        }

        .alert {
            margin: 1rem 0px 0px 0px;
        }
    }

    .qrReader {
        width: 320px;
        position: absolute;
        top: 25%;
        left: 50%;
        margin-left: -160px;
    }

    &.blur {
        .card {
            background: rgba(0, 0, 0, 0);

            .btn-blank {
                background: rgba(0, 0, 0, 0);
            }

            .card-body {
                textarea {
                    background: rgba(0, 0, 0, 0);

                    &::placeholder {
                        color: rgba(0, 0, 0, 0.6);
                    }
                }

                button {
                    background: rgba(0, 0, 0, 0);
                }

                .btn-success {
                    border-color: rgba(0, 0, 0, 0.2);
                    color: rgba(0, 0, 0, 0.6);
                }
            }
        }
    }
}
