#_addHackersView {
    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        height: 100%;
        width: calc(50% - 10px);
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin-bottom: 1rem;
        }

        textarea {
            min-height: 200px;
            width: 100%;
            margin-bottom: 1rem;
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, 0.2);

            &:focus {
                outline: none;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            cursor: pointer;

            button {
                width: 100%;
            }
        }

        #hackers-buttons {
            button:first-child {
                margin-right: 10px;
            }

            button:last-child {
                margin-left: 10px;
            }
        }

        .alert {
            margin: 1rem 0px 0px 0px;
        }
    }
}