$xl: 1200px;
$lg: 1000px;
$md: 800px;
$sm: 600px;
$xs: 400px;

#hackersPage {
    .content {
        width: 100%;
        padding: 20px 15%;

        p {
            margin: 0px;
        }

        .btn {
            background: white;
            border: 1px solid rgba(0, 0, 0, 0.15);
            margin-left: 5px;
        }

        .fa-user {
            font-size: 20px;
        }

        .fa-camera {
            font-size: 20px;
        }

        & > .row {
            justify-content: space-between;
            margin: 0px 0px 20px 0px;

            input {
                padding: 5px;
                width: 30%;

                @media only screen and (max-width: $sm) {
                    width: 70%;
                }
            }
        }

        .list-group .list-group-item {
            &:hover {
                background: rgba(0, 0, 0, 0.01);
            }

            &:focus {
                outline: none;
            }
        }

        @media only screen and (max-width: $lg) {
            padding: 20px 10%;
        }

        @media only screen and (max-width: $md) {
            padding: 20px 5%;
        }

        @media only screen and (max-width: $sm) {
            padding: 20px;
        }
    }

    .qrReader {
        width: 320px;
        position: absolute;
        top: 25%;
        left: 50%;
        margin-left: -160px;
    }

    .blur {
        background: rgba(0, 0, 0, 0.6);
    }
}