$xl: 1200px;
$lg: 1000px;
$md: 800px;
$sm: 600px;
$xs: 400px;

#hackersPage {
    .content {
        width: 100%;
        padding: 20px 15%;

        p {
            margin: 0px;
        }

        #filterButton {
            margin-left: 5px;

            @media only screen and (max-width: $xs) {
                margin-left: 0px;;
            }
        }

        .fa-user {
            font-size: 20px;
        }

        .fa-camera {
            font-size: 20px;
        }

        #pageBar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0px 0px 20px 0px;

            input {
                padding: 5px;
                width: 30%;

                @media only screen and (max-width: $md) {
                    width: 50%;
                }
                @media only screen and (max-width: $sm) {
                    width: 70%;
                }
                @media only screen and (max-width: $xs) {
                    width: 100%;
                    margin-bottom: 5px;
                }
            }

            & > div {
                width: 30%;
                justify-content: flex-end;

                @media only screen and (max-width: $xs) {
                    width: 100%;
                    justify-content: space-between;

                    #filterButton {
                        width: calc(50% - 5px);

                        .btn {
                            width: 100%;
                        }
                    }

                    #scanQRButton {
                        width: calc(50% - 5px);
                    }
                }
            }

            @media only screen and (max-width: $xs) {
                flex-direction: column;
            }
        }

        .list-group .list-group-item {
            &:hover {
                background: rgba(0, 0, 0, 0.01);
            }

            &:focus {
                outline: none;
            }
        }

        @media only screen and (max-width: $lg) {
            padding: 20px 10%;
        }

        @media only screen and (max-width: $md) {
            padding: 20px 5%;
        }

        @media only screen and (max-width: $sm) {
            padding: 20px;
        }
    }

    .qrReader {
        width: 320px;
        position: absolute;
        top: 25%;
        left: 50%;
        margin-left: -160px;
    }

    &.blur {
        background: rgba(0, 0, 0, 0.6);

        .content {
            #pageBar > input {
                background: transparent;
                border: 1px solid rgba(0, 0, 0, 0.15);
            }

            .row {
                input {
                    background: transparent;
                    border-color: rgba(0, 0, 0, 0.1);
                }

                .btn {
                    background: transparent;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                }
            }

            .list-group-item {
                background: rgba(0, 0, 0, 0);
            }
        }
    }
}
