$xl: 1200px;
$lg: 1000px;
$md: 800px;
$sm: 600px;
$xs: 400px;

#_settingsView {
    .card-body {
        .setting {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 20px;

            h6 {
                margin: 0px;
            }

            &:last-child {
                margin-bottom: 0px;
            }

            @media only screen and (max-width: $sm) {
                flex-direction: column;

                .column {
                    margin-bottom: 10px;

                    h6 {
                        text-align: center;
                    }
                }
            }
        }

        button {
            min-width: 100px;
        }

        .horizontal-line {
            margin-bottom: 20px;
        }
    }
}