$xl: 1200px;
$lg: 1000px;
$md: 800px;
$sm: 600px;
$xs: 400px;

#loginPage {
    .content {
        background: rgba(0, 0, 0, 0.05);

        #loginPanel {
            height: 50%;
            width: 30%;
            left: 50%;
            margin-left: 35%;
            border: 1px solid rgba(0, 0, 0, 0.15);
            background: white;

            h1 {
                text-align: center;
                margin: 0px;
                font-size: 36px;
            }

            p {
                margin: 0px 40px 20px 40px;
                line-height: 25px;
            }

            button {
                margin: 0px 40px;
                padding: 20px;
                background: #24292e;
                color: white;
                font-size: 14px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                cursor: pointer;

                svg {
                    font-size: 30px;
                }

                p {
                    margin: 0px;
                    line-height: 30px;
                }
            }

            @media only screen and (max-width: $lg) {
                width: 50%;
                margin-left: 25%;
            }

            @media only screen and (max-width: $md) {
                width: 60%;
                margin-left: 20%;
            }

            @media only screen and (max-width: $sm) {
                width: 70%;
                margin-left: 15%;
            }

            @media only screen and (max-width: $xs) {
                width: 80%;
                margin-left: 10%;
            }
        }
    }
}