$xl: 1200px;
$lg: 1000px;
$md: 800px;
$sm: 600px;
$xs: 400px;

#delete-role-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;

    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            margin: 0px;
            text-align: center;
        }
    }

    .modal-buttons {
        button {
            width: calc(50% - 10px);
            padding: 10px;
            margin-top: 10px;
            background: rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 3px 3px 3px 3px;
            outline: none;
            cursor: pointer;

            &:first-child {
                margin-right: 10px;
            }

            &:last-child {
                margin-left: 10px;
            }
        }
    }
}
