html {
    background: rgba(0, 0, 0, 0.05);
}

#app, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    height: 100%;
}

.tall {
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;

    &-center {
        justify-content: center;
    }

    &-around {
        justify-content: space-around;
    }

    &-between {
        justify-content: space-between;
    }
}

.column {
    display: flex;
    flex-direction: column;

    &-center {
        justify-content: center;
    }

    &-around {
        justify-content: space-around;
    }

    &-between {
        justify-content: space-between;
    }
}

.horizontal-line {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0px 0 20px 10px;
}