$xl: 1200px;
$lg: 1000px;
$md: 800px;
$sm: 600px;
$xs: 400px;

#hackerPage {
    .content {
        padding: 20px 15%;

        p {
            margin: 0px;
        }

        .btn-blank {
            background: white;
            border: 1px solid rgba(0, 0, 0, 0.15);
        }

        .btn-success, .btn-danger {
            min-width: 110px;
        }

        & > .row {
            justify-content: flex-start;
            margin: 0px 0px 20px 0px;

            input {
                padding: 5px;
            }
        }

        .nameHeader {
            margin-bottom: 20px;
            text-align: center;
        }

        .hackerField:last-child {
            margin-bottom: 20px;
        }

        .list-group {
            margin-bottom: 20px;

            .list-group-item.row {
                margin: 0px 0px 5px 0px;
            }
        }

        @media only screen and (max-width: $lg) {
            padding: 20px 10%;
        }

        @media only screen and (max-width: $md) {
            padding: 20px 5%;
        }

        @media only screen and (max-width: $sm) {
            padding: 20px;
        }
    }

    .qrReader {
        width: 320px;
        position: absolute;
        top: 25%;
        left: 50%;
        margin-left: -160px;
    }

    .blur {
        background: rgba(0, 0, 0, 0.6);
    }
}