@import "~@theme";

#adminPage {
    .content {
        display: flex;
        flex-direction: row;

        @media only screen and (max-width: $md) {
            flex-direction: column;
        }
    }

    .view {
        width: 80%;
        padding: 20px;

        p {
            margin: 0px;
        }

        @media only screen and (max-width: $lg) {
            width: 75%;
            padding: 20px 5%;
        }

        @media only screen and (max-width: $md) {
            width: 100%;
            padding: 20px 5%;
        }

        @media only screen and (max-width: $sm) {
            padding: 20px;
        }
    }

    &.blur {
        background: rgba(0, 0, 0, 0.6);

        .list-group-item {
            background: rgba(0, 0, 0, 0);
        }
    }
}

#sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .list-group .list-group-item {
        &.selected {
            background: rgba(0, 0, 0, 0.025);
        }

        min-height: 50px; /* Needed for Safari on mobile */
        padding: 10px;

        &:focus {
            outline: none;
        }
    }

    @media only screen and (max-width: $lg) {
        width: 25%;
    }

    @media only screen and (max-width: $md) {
        width: 100%;
        padding: 20px 5% 0px 5%;
    }
}
