$xl: 1200px;
$lg: 1000px;
$md: 800px;
$sm: 600px;
$xs: 400px;

#adminPage {
    .content {
        display: flex;
        flex-direction: row;

        @media only screen and (max-width: $md) {
            flex-direction: column;
        }
    }

    .view {
        width: 80%;
        padding: 20px;

        p {
            margin: 0px;
        }

        @media only screen and (max-width: $lg) {
            width: 75%;
            padding: 20px 5%;
        }

        @media only screen and (max-width: $md) {
            width: 100%;
            padding: 20px 5%;
        }

        @media only screen and (max-width: $sm) {
            padding: 20px;
        }
    }
}

#sidebar {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .list-group .list-group-item {
        min-height: 50px; /* Needed for Safari on mobile */
        padding: 10px;

        &:hover {
            background: rgba(0, 0, 0, 0.01);
        }

        &:focus {
            outline: none;
        }
    }

    @media only screen and (max-width: $lg) {
        width: 25%;
    }

    @media only screen and (max-width: $md) {
        height: 100%;
        width: 100%;
        padding: 20px 5% 0px 5%;
    }
}