@import "~@theme";

#_rolesView {
    $buttons: 1;
    $button-padding: 30px;
    $button-width: 120px;
    $total-width: $buttons * ($button-width + $button-padding);

    #search-add-bar {
        margin-bottom: 20px;

        .btn-blank {
            margin-bottom: 20px;
            float: right;
        }

        #searchbar {
            padding: 5px;
            width: 30%;

            @media only screen and (max-width: $lg) {
                width: 50%;
            }
            @media only screen and (max-width: $md) {
                width: 70%;
            }
        }
    }

    .table td.row.justify-content-around {
        width: $total-width; /* Needed to keep the toggle buttons inline */
    }

    #delete-button {
        min-width: $button-width;
    }
}
