@import "~@theme";

#unauthorizedPage {
    .topbar {
        padding: 20px;
    }

    .content {
        height: calc(100% - 100px);

        h4, p {
            text-align: center;
        }

        p {
            margin-bottom: 0px;
        }

        @media only screen and (max-width: $md) {
            h4 {
                font-size: 20px;
            }

            p {
                font-size: 12px;
            }
        }
    }
}
