@import "~@theme";

#_usersView {
    $buttons: 2;
    $button-padding: 30px;
    $button-width: 120px;
    $total-width: $buttons * ($button-width + $button-padding);

    #searchbar {
        margin-bottom: 20px;
    }

    .table td.row.justify-content-around {
        width: $total-width; /* Needed to keep the toggle buttons inline */
    }

    #authorize-button, #admin-button {
        min-width: $button-width;
    }
}
